@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h7 {
    font-size: 12px;
}
    /* NAVIGATION BAR */
.nav {
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav .logo img{
    height: 40px;
    width: 160px;
    margin-bottom: -10px;
    margin-bottom: -10px;
    margin-left: -70px;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav li {
    position: relative;
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav li a.active,
.nav li a:hover {
    color: #1a86c7;
}

.nav li a.active::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #1a86c7;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

    /* START BANNER */

.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.108)),
    url('/Attachments/Backgrounds/banner-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35% 5%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2 !important;
}

.hero .container h1 {
    font-weight: 400;
    font-size: 50px;
}

.hero .container h2 {
    font-weight: 400;
    font-size: 25px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2,
.content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}

/* SEARCH */



/* CATEGORIES */

.sub-title {
    margin: 50px 0 20px;
    font-size: 25px;
    font-weight: 660;
    color: #1a1a1a;
    text-align: center;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 30px;
    cursor: pointer;
}

.categories div img{
    filter: brightness(75%);
    width: 100%;
    border-radius: 10px;
}

.categories div {
    position: relative;
}

.categories div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }